<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps Multiple Markers</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width: 500px; height: 600px;"></div>

    <script type="text/javascript">
        //$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags=cat&tagmode=any&format=json&jsoncallback=?",
        $.getJSON("http://dmgt-followme.azurewebsites.net/api/activetrip?userid=5",
        function (data) {
            alert(data)
           $.each(data.tripName, function (i, tripName) {
                alert(tripName);
                if (i == 3) return false;
            });
        
        });


     



        var locations = [
          ['Bv', 29.910209,- 81.315053, 3],
          ['Sd', 29.910255,- 81.314824, 2],
          ['Rr', 29.910305,- 81.314595, 1]
          
         ];



        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: new google.maps.LatLng(locations[0][1], locations[0][2]),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var pos = new google.maps.LatLng(locations[1][1], locations[1][2]);
        map.setCenter(pos);
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>
</body>
</html>