
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">User Login</div>
  <div class="panel-body">						
	<form class="navbar-form navbar-left" role="search">
	  <div class="form-group">		
		<label>Email:</label>
		<input type="text" class="form-control" ng-model="email" />
		&nbsp;&nbsp;&nbsp;
		<label>Password:</label>
		<input type="password" class="form-control"  ng-model="pass" />	
	  </div>	
		&nbsp;&nbsp;<button ng-click="login()" class="btn btn-default">Log In</button>	

	  
	</form>
  </div>
</div>
